#zhongwen-window .tone1 {
  color: #E30000;
}

#zhongwen-window .tone2 {
  color: #02B31C;
}

#zhongwen-window .tone3 {
  color: #1510F0;
}

#zhongwen-window .tone4 {
  color: #8900BF;
}

#zhongwen-window .tone5 {
  color: #777777;
}
