#zhongwen-window .tone1 {
  color: #64B4FF;
}

#zhongwen-window .tone2 {
  color: #30B030;
}

#zhongwen-window .tone3 {
  color: #F08000;
}

#zhongwen-window .tone4 {
  color: #D00020;
}

#zhongwen-window .tone5 {
  color: #A0A0A0;
}
