#zhongwen-window .tone1 {
  color: #EE363E;
}

#zhongwen-window .tone2 {
  color: #F47C36;
}

#zhongwen-window .tone3 {
  color: #73BB4F;
}

#zhongwen-window .tone4 {
  color: #649CD3;
}

#zhongwen-window .tone5 {
  color: #A0A0A0;
}
