body {
    margin: 20px;
}

.zw-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-style: italic;
}

.zw-tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #212529;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    border-radius: .25rem;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 0.3s;
}

.zw-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #212529 transparent transparent transparent;
}

.zw-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}